azure-eventgrid
azure-storage-blob
azure-storage-queue
boto3
google-cloud-storage
# Not required here: jupyter-module-loader
minio
msal
pandas
psycopg2-binary
pydantic
python-json-logger
requests
sqlalchemy
